by_type:
  Conv2D:
    weight:
      data_config: 
        bit_width: 8
        not_training: fixed
        training: auto
      gradient_config:
        bit_width: 8
        training: auto
    activation:
      data_config:
        bit_width: 8
        not_training: fixed
        training: auto
      gradient_config:
        bit_width: 8
        training: auto
  Dense:
    weight:
      data_config: 
        bit_width: 8
        not_training: fixed
        training: auto
      gradient_config:
        bit_width: 8
        training: auto
    activation:
      data_config:
        bit_width: 8
        not_training: fixed
        training: auto
      gradient_config:
        bit_width: 8
        training: auto